@import url('https://fonts.googleapis.com/css2?family=Allura&family=Audiowide&family=Delicious+Handrawn&family=Happy+Monkey&family=Indie+Flower&family=Jura:wght@300..700&family=Orbitron:wght@400..900&family=Saira+Stencil+One&family=Shadows+Into+Light+Two&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Silkscreen:wght@400;700&family=Sriracha&family=Tangerine:wght@400;700&family=The+Girl+Next+Door&display=swap');

:root {
    --white: #ffffff;
    --transparent-white: rgba(255, 255, 255, 0.4);
    --green: #7cff70ad;
    --green-transparent: #7cff7031;
    --selected-blue: #7cff7081;
    --dark-green: #547951;
    --dark-green-transparent: #54795144; 
    --close-color: #5cdda1; 
    --red-color: #6147f5;
    --red-color-transparent: #6147f544;
    --jura-font: "Jura", serif;
    font-weight: 300;
    ;
    --jura-font-bold: "Jura", serif;
    --standard-font: "Happy Monkey", serif;;
}

body {
    background-image: url(assets/background_blue.png);
    background-size: cover;

    font-family: var(--standard-font);


    height: 100vh;
    width: 100%;

    margin: 0;

    overflow-x: hidden;
    overflow-y: hidden;
    
}

::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--red-color-transparent);
    padding: 1px;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--red-color);
}

::placeholder {
    font-family: 'Courier New', Courier, monospace;
}

button {
    cursor: pointer;
    font-family: var(--jura-font);
}

p, h1 {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Indie Flower", serif;
    font-weight: 400;
}

.window {
    display: "";
    position: absolute;

    width: fit-content;
    height: fit-content;

    background-color: var(--white);

    border: solid black 1px;
    border-radius: 8px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    
}

#welcome {
    min-width:400px ;
    min-height: 180px;

    max-width: 400px;
    max-height: 180px;

    user-select: none;
    -webkit-touch-callout: none;
}

#notepad {
    min-width:505px ;
    min-height: 179px;

    max-width: 505px;
}

.window * {
    padding: 0.5rem;
}

.window .header {
    background-color: var(--green);
    text-align: center;
    

}

.header {
    display: flex;
    justify-content: space-between;

    cursor: move;
    border-radius: 5px;

    font-family: var(--jura-font);
    font-weight: 700;
}

.header div {
    padding: 0;
}

.header-button {
    border-radius: 100%;
    padding: .5rem;
}

#close-button{
    background-color: var(--close-color);
    border-color: var(--close-color);
}

#red-button {
    background-color: var(--red-color);
    border-color: var(--red-color);
}

.top-bar {
    display: flex;
    justify-content: flex-end;

    position: absolute;
    width: 100%;
    height: fit-content;

    background-color: var(--transparent-white);

    z-index: 100;

    padding: 8px;
}

.top-bar p {
    padding-left: 8px;
    padding-right: 12px;

    user-select: none;
    -webkit-touch-callout: none;

    font-family: var(--jura-font);
    font-weight: 300;
}

#desktop-apps-grid {
    display: flex;
    width: 100%;
}

#desktop-apps {
    width: fit-content;
    height: fit-content;

    text-align: center;
    
    padding: 1rem;
    padding-top: 3rem;
}

#desktop-apps-second {
    width: fit-content;
    height: fit-content;

    text-align: center;
    
    padding: 1rem;
    padding-top: 3rem;
}

#desktop-apps-right {
    justify-content: flex-end;
    width: fit-content;
    height: fit-content;

    text-align: center;
    
    padding: 1rem;
    padding-top: 3rem;
}

#desktop-apps > .application {
    margin-left: 0;
}

.application {
    width: 5rem;
    height: 5rem;

    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-areas:  "icon"
    "txt";

    align-items: center;

    border-radius: 5px;

    margin-left: 3rem;
    margin-bottom: 4rem;
    overflow-x:visible;
}

.application img {
    grid-area: icon;

    width: 64px;
    height: 53px;

    user-select: none;
    -webkit-touch-callout: none;
    margin: auto;
}
.application p {
    /* FONT */
    font-family: var(--jura-font-bold);
    font-weight: 700;
    color: white;
    text-shadow: black 2px 2px;

    grid-area: txt;
    margin: 0;

    text-align: center;
    margin: auto;

    user-select: none;
    -webkit-touch-callout: none;
}
.selected {
    background-color: var(--selected-blue);
    padding-bottom: 4;
}

/* NOTEPAD */
#notepad {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "title title"
    "files display";

    max-height: 450px;
}

#notepad #notepadheader {
    grid-area: title;
}

#notepad #files {
    grid-area: files;
    background-color: var(--green-transparent);
    border-radius: 8px;
    padding: 2px;

    max-height: 369px;
    overflow-y: scroll;
}
#files p {
    user-select: none;
    -webkit-touch-callout: none;
}

#files p:hover {
    text-decoration: underline wavy 1px black;
    cursor: pointer;
}

#files div {
    text-align: center;
    display: flex;
    justify-content: center;
}

#files > div > button {
    background-color: var(--red-color);
    color: white;
    border-color: var(--red-color);
}

#notepad #note {
    grid-area: display;
}

#notepad #note h5 {
    margin: 0;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

#notepad #note #note-content {
    margin: 0;
    white-space: pre-wrap;
    overflow-y: scroll;
    height: 200px;
}

#note-holder {
    border-radius: 4px;
    background-color: var(--green-transparent);
}
/* ... */

#note-content span {
    font-size: 1.3rem;
}
#s-i-l-t {
    font-family: "Shadows Into Light Two", serif;
    font-weight:400;
}

#silk {
    font-family: "Silkscreen", serif;
}

#indie {
    font-family: "Indie Flower", serif;
}

#tange {
    font-family: "Tangerine", serif;
}

#shant {
    font-family: "Shantell Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "BNCE" 0,
        "INFM" 0,
        "SPAC" 0;
}

#couri {
    font-family: 'Courier New', Courier, monospace;
}

#notepad-create-note {
    height: fit-content;
    max-width: 410px;
    max-height: 360px;
    min-width: 410px;
    min-height: 310px;
}

#notepad-create-note textarea{
    width: 360px;
    height: 95px;
    overflow-y: scroll;
    resize: none;
}

#notepad-create-note #button {
    display: flex;
    justify-content: flex-end; 
}

#notepad-create-note #button button {
    background-color: var(--red-color);
    color: white;
    border-color: var(--red-color);
}

/* Browser */
#browser #div {
    display: grid;
    grid-template-rows: fit-content fit-content;
    grid-template-areas: "image"
    "input";
}
#browser #div #logo {
    grid-area: image;
    text-align: center;
    padding: 0;
}

#browser #div #search-bar {
    grid-area: input;
}

#browser #div button {
    background-color: var(--red-color);
    color: white;
    border-color: var(--red-color);
}

#browser #div input {
    background-color: var(--red-color-transparent);
    color: white;
    border-color: var(--red-color);
}

/*  */
#project {
    max-width: 497px;
    max-height: 600px;
    min-width: 497px;
    max-height: 600px;
}

#projects-view {
    text-align: center;
    align-items: center;
    /* height: fit-content; */
    overflow-x: scroll; 

    display: flex;
    justify-items: center;
    justify-content: space-around;
}

#projects-view .projects-cards {
    font-family: 'Courier New', Courier, monospace;

    background-color: var(--green-transparent);
    border-radius: 1rem;
    width: 25rem;

    height: 358px;
    padding: 0;
    margin: 0;

    box-shadow: var(--green) 4px 4px 8px;
    transition: ease-in 200ms;
}

#projects-view > .projects-cards{
    margin: 0.2rem 0.8rem;
}

#projects-view .projects-cards:hover {
    transform: scale(102%);
}

#projects-view .projects-cards img {
    width: 300px;
}

#projects-view .projects-cards h2 {
    margin: 0;
}

#projects-view .projects-cards a {
    color: var(--dark-green);
}

#projects-view .projects-cards a:hover {
    color: var(--green);
}

#projects-view .projects-cards a:visited {
    color: var(--dark-green);
}

/*  */
#vault-access {
    background-color: var(--dark-green);
    color: white;
}

#vault-access button {
    border-radius: 2px;
    color: white;
    border-color: white;
    background-color: var(--dark-green);
}

#vault-access input {
    border-radius: 2px;
    color: white;
    border-color: white;
    background-color: var(--dark-green);
}

#vault-access input::placeholder {
    color: white;
}

#vault-inside {
    min-width: 400px;
    min-height: 300px;
    max-width: 400px;
    max-height: 300px;
    user-select: none;
    background-color: var(--dark-green-transparent);
}
#vault-inside #one {
    position: absolute;
    left: 2%;
    top: 15%;
    transform: rotate(8deg);
}

#vault-inside #two {
    position: absolute;
    left: 43%;
    top: 76%;
    transform: rotate(199deg);
}

#vault-inside #three {
    position: absolute;
    left: -18%;
    top: 60%;
    transform: rotate(270deg);
}

#vault-inside #four {
    position: absolute;
    left: 87%;
    top: 15%;
    transform: rotate(8deg);
}

#vault-inside img {
    opacity: 60%;
}

#vault-inside img:hover {
    opacity: 100%;
}

#vault-inside #bipoc {
    width: 8rem;
    position: absolute;
    left: 7%;
    top: 58%;
    transform: rotate(-4deg);
}

#vault-inside #boba {
    width: 8rem;
    position: absolute;
    right: 10%;
    top: 12%;
    transform: rotate(10deg);
}

#vault-inside #riveter {
    width: 5rem;
    position: absolute;
    left: 14%;
    top: 24%;

    transform: rotate(-15deg);
}

#piano {
    display: flex;
    border: var(--dark-green) 2px solid;
    border-radius: 8px;
}

.tile {
    background-color: var(--green);
    margin: 0 2px;
}

#todoexe {
    user-select: none;
}

input[type="checkbox"] {
    appearance: none;
    background-color: none;
    outline: var(--dark-green) 1px solid;
    margin: 0;
}

input[type="checkbox"]:checked {
    border: none;
    background-color: var(--dark-green);
}

input[type="checkbox"]:disabled:hover, .disabled:hover {
    cursor: not-allowed;
}

.disabled {
    opacity: 0.5;
}
